<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "alumnos" | translate }}
      {{ "bienvenido" | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="select">
    <ion-label>{{ "selecciona" | translate }}</ion-label>
    <ion-select cancelText="Cancel" [(ngModel)]="idioma" placeholder="Selecciona" (ionChange)="changeLang($event)">
      <ion-select-option *ngFor="let lang of langs">{{ lang }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item [routerLink]="['/alumnos/alumno-detalle']">
      <ion-label>{{ "perfil" | translate }}</ion-label>
    </ion-item>
    <ion-item  [routerLink]="['/alumnos']">
      <ion-label >{{ "curso" | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label [routerLink]="['/escaner']">{{ "escaner" | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label [routerLink]="['/mapa']">{{ "mapa" | translate }}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
